body {
    background: rgba(255, 255, 255, 0.15);
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    backdrop-filter: blur(10px);
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    }
    
    
    .hidden {
    display: none;
    }
    
    
    input {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    }
    
    
    button {
    width: 90%;
    padding: 12px;
    font-size: 16px;
    background: #fff;
    border: none;
    color: #333;
    border-radius: 10px;
    cursor: pointer;
    }
    
    
    button.secondary {
    background: rgba(255,255,255,0.4);
    color: white;
    }
    
    
    .bigWord {
    font-size: 32px;
    font-weight: bold;
    }